body,
ul {
  margin: 0;
  padding: 0;
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}
.nav {
  list-style: none;
  display: flex;
}
li.nav-item > a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 25px;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
li.nav-item > a:hover {
  color: #ffb742;
  transition: all 200ms ease-in-out;
}
.header-button {
  text-decoration: none;
  color: #212529;
  padding: 12px 26px;
  background-color: #ffb742;
  border-radius: 50px;
  margin-top: 0;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.introduction {
  color: white;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 107px;
  font-family: "Inter", sans-serif;
}
.intro {
  color: #ffb742;
}
.introduction :nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
.introduction :nth-child(2) {
  font-size: 48px;
  font-weight: bold;
  width: 60, 25rem;
  height: 5.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction :nth-child(3) {
  font-size: 24px;
  margin-top: 1.563rem;
  text-transform: capitalize;
}
.avatar {
  margin-top: 1.375rem;
}
.cards {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  margin-top: 8.517rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.card {
  width: 30%;
  background-color: #292b2e;
  border-radius: 0.938rem;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.563rem 2.188rem;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.cards-link {
  text-decoration: none;
  text-align: center;
}

.numbers {
  font-size: 2rem;
  margin-bottom: 0.313rem;
  font-weight: bold;
  color: #ffb742;
}
.text {
  font-size: 1rem;
  font-weight: bold;
  color: #ffff;
}
.card:hover {
  background-color: #ffb742;
}
.card:hover .numbers {
  color: #292b2e;
}
.card:hover .text {
  color: #292b2e;
}
.card:hover svg > path {
  fill: #292b2e;
}
.information {
  width: 90%;
  margin: 0 auto;
  margin-top: 8.563rem;
}
.info-text {
  width: 54%;
  margin-left: 2.5rem;
}
.man {
  padding-top: 4.5rem;
  margin-left: 3.063rem;
  width: 38.75rem;
  height: 37.254rem;
}
.h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.h2 {
  color: #ffb742;
  font-size: 20px;
  background-color: #292b2e;
  width: 9.25rem;
  height: 2.625rem;
  text-align: center;
  padding-top: 0.4rem;
  box-sizing: border-box;
  border-radius: 1.875rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.text-info {
  color: white;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
  margin-bottom: 3.403rem;
  margin-top: 1.843rem;
}
.button {
  text-decoration: none;
  color: #212529;
  padding: 12px 26px;
  background-color: #ffb742;
  border-radius: 50px;
  font-weight: bold;
}
.featured-works-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 4.058rem;
}
.title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-top: 0.313rem;
  margin-bottom: 1.875rem;
  font-family: "Roboto", sans-serif;
}
.types-of-work {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.types-of-work > a {
  margin-top: 0;
}
.types-of-work :nth-child(1) {
  width: 3.813rem;
  height: 2.5rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.6rem;
  border-radius: 0.188rem;
}
.types-of-work :nth-child(2) {
  width: 8.25rem;
  height: 2.5rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.6rem;
  border-radius: 0.188rem;
}
.types-of-work :nth-child(3) {
  width: 10.438rem;
  height: 2.5rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.6rem;
  border-radius: 0.188rem;
}
.types-of-work :nth-child(4) {
  width: 13.75rem;
  height: 2.5rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.6rem;
  border-radius: 0.188rem;
}
.link {
  text-decoration: none;
  color: white;
}
.types-of-work :nth-child(1):hover {
  color: #212529;
  background-color: #ffb742;
}
.types-of-work :nth-child(2):hover {
  color: #212529;
  background-color: #ffb742;
}
.types-of-work :nth-child(3):hover {
  color: #212529;
  background-color: #ffb742;
}
.types-of-work :nth-child(4):hover {
  color: #212529;
  background-color: #ffb742;
}
.advertising1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  margin-top: 3.125rem;
}
.advertising1 :nth-child(1) {
  margin-right: 1.985rem;
}
.advertising1 :nth-child(2) {
  margin-right: 1.985rem;
}
.advertising2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  margin-top: 1.974rem;
}
.advertising2 :nth-child(1) {
  margin-right: 1.985rem;
}
.advertising2 :nth-child(2) {
  margin-right: 1.985rem;
}
footer {
  height: 29.375rem;
  margin-top: 7.27rem;
  background-color: #1c1c1c;
}
footer :nth-child(1) {
  display: flex;
  flex-direction: column;
}
.h3 {
  color: #ffb742;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 1.938rem;
}
.h4 {
  color: #d4d4d4;
  font-size: 1rem;
  width: 90%;
}
.titles {
  margin-bottom: 5.2rem;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
footer :nth-child(2) {
  display: flex;
  flex-direction: column;
}

.useful-links {
  font-size: 1.349rem;
  color: white;
}
footer :nth-child(3) {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: #7b7b7b;
  margin-top: 0.625rem;
}
.email {
  margin-top: 1.4rem;
}
.useful-links {
  margin-bottom: 0.875rem;
}
.newsletter {
  margin-bottom: 5.8rem;
}
