.box {
  margin-left: 100px;
 margin-bottom: 100px;
}
.square {
  box-sizing: border-box;
  width: 512px;
  height: 512px;
  background: linear-gradient(to top, #ffce22 50%, #2137fc 50%);
}
.white-square {
  width: 512px;
  height: 512px;
  padding: 24px 34px 34px 34px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
  margin-left: 100px;
}
.circle {
  width: 444px;
  height: 467px;
  background: linear-gradient(to top, #ffce22 50%, #2137fc 50%);
  border-radius: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
}
.circle {
  width: 444px;
  height: 467px;
  background: linear-gradient(to top, #ffce22 50%, #2137fc 50%);
  border-radius: 1250px;
  padding-top: 62px;
  padding-left: 83px;
  box-sizing: border-box;
}

.circle1 {
  width: 444px;
  height: 467px;
  background: linear-gradient(to top, #ffce22 50%, #2137fc 50%);
  border-radius: 1250px;
  padding-top: 210px;
  padding-left: 40px;
  box-sizing: border-box;
}

.circle4 {
  width: 444px;
  height: 467px;
  background: linear-gradient(to top, #ffce22 50%, #2137fc 50%);
  border-radius: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 62px;
  padding-left: 81px;
}
.glyph {
  background-image: url("./img/Glyph.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 227.36px;
  margin-top: 144px;
  margin-left: 52px;
}
.glyph2 {
  background-image: url("./img/Glyph1.png");
  background-repeat: no-repeat;
  padding-top: 210px;
  padding-left: 40px;
  width: 358.44px;
  height: 203.74px;
}
.container {
  display: flex;
  flex-direction: row;
}
.container2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 100px;
}
.container3 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  box-sizing: border-box;
}
.rhomb {
  background-image: url("./img/Group.png");
  width: 341.58px;
  height: 393px;
  background-repeat: no-repeat;
  margin-top: 59px;
}
.rhomb2 {
  background-image: url("./img/Group1.png");
  width: 278.13px;
  height: 320px;
  background-repeat: no-repeat;
}
.container4 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  box-sizing: border-box;
}
.plane {
  background-image: url("./img/Plane.png");
  width: 338.99px;
  height: 385.93px;
  margin-left: 173px;
  margin-top: 128px;
}
.plane2 {
  background-image: url("./img/Plane1.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.container5 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.diya {
  background-image: url("./img/Vector.png");
  width: 309.72px;
  height: 181.88px;
  margin-top: 159px;
  margin-left: 94px;
  background-repeat: no-repeat;
}
.circle5 {
  width: 444px;
  height: 467px;
  background: linear-gradient(to top, #ffce22 50%, #2137fc 50%);
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 125px;
  padding-left: 60px;
}
.diya2 {
  background-image: url("./img/Vector.png");
  width: 309.72px;
  height: 181.88px;
  background-repeat: no-repeat;
  padding-top: 159px;
  padding-left: 94px;
}
.black-square {
  width: 512px;
  height: 512px;
  box-sizing: border-box;
  background: black;
  margin-left: 100px;
}
.diya3 {
  background-image: url("./img/Vector.png");
  width: 309.72px;
  height: 181.88px;
  background-repeat: no-repeat;
  margin-top: 129px;
  margin-left: 101px;
}
.flag {
  background-image: url("./img/Flag.png");
  width: 80px;
  height: 60px;
  margin-top: 32px;
  margin-left: 216px;
}
.flag2 {
  background-image: url("./img/Flag.png");
  width: 80px;
  height: 60px;
  margin-top: 27px;
  margin-left: 21px;
}
.diya4 {
  background-image: url("./img/Vector.png");
  width: 309.72px;
  height: 181.88px;
  background-repeat: no-repeat;
  margin-top: 46px;
  margin-left: 101px;
}
.flag3 {
  background-image: url("./img/Flag.png");
  width: 80px;
  height: 60px;
  margin-top: 27px;
  margin-left: 310px;
}
.flags {
  display: flex;
}
