body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: "PT Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 138px;
  height: 90px;
  background-color: #202846;
  color: white;
}
.nav {
  list-style: none;
  display: flex;
  padding-left: 65px;
  margin-right: 10px;
}
ul {
  margin: 0 auto;
  padding: 0 auto;
}
li.nav-item > a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 5px 25px;
  box-sizing: border-box;
  margin: 0 auto;
  border-right: 2px solid white;
}
.language {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700, Bold;
  padding-left: 15px;
  padding-right: 35px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: none;
  color: white;
}

.nav-item-lang {
  height: 55px;
  padding-bottom: 16px;
  padding-left: 5px;
}
.logo {
  height: 70px;
}
.reserve {
  height: 140px;
  background-color: #c6c6dc;
  box-sizing: border-box;
  padding-left: 227px;
  font-size: 48px;
  padding-top: 46px;
  font-weight: 400;
  font-style: italic;
}
.img {
  background-image: url("./img/image\ 5.png");
  width: 485px;
  height: 244px;
  background-repeat: no-repeat;
}

.card {
  width: 1489px;
  height: 300px;
  background-color: #bdbdc6;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-left: 103px;
  padding-top: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.card1 {
  width: 1489px;
  height: 300px;
  background-color: #bdbdc6;
  margin: 0 auto;
  margin-top: 185px;
  margin-bottom: 36px;
  padding-left: 103px;
  padding-top: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.text {
  background-color: #d7d7dd;
  width: 712px;
  height: 184px;
  font-size: 22px;
  line-height: 28.47px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  padding-left: 46px;
  padding-top: 33px;
  padding-right: 40px;
}
.title {
  font-size: 36px;
  color: #353c57;
  font-style: italic;
  font-weight: bold;
  border-bottom: 3px solid white;
  margin-bottom: 12px;
  padding-bottom: 2px;
}
.img2 {
  background-image: url("./img/image\ 4.png");
  width: 485px;
  height: 244px;
  background-repeat: no-repeat;
}
.text2 {
  background-color: #d7d7dd;
  width: 712px;
  height: 184px;
  font-size: 22px;
  line-height: 28.47px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  padding-left: 60px;
  padding-top: 32px;
  padding-right: 70px;
}
.img3 {
  background-image: url("./img/image\ 6.png");
  width: 485px;
  height: 244px;
  background-repeat: no-repeat;
}
.text3 {
  background-color: #d7d7dd;
  width: 712px;
  height: 184px;
  font-size: 22px;
  line-height: 28.47px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  padding-left: 33px;
  padding-top: 33px;
  padding-right: 33px;
}
.img4 {
  background-image: url("./img/image\ 7.png");
  width: 485px;
  height: 244px;
  background-repeat: no-repeat;
}
.text4 {
  background-color: #d7d7dd;
  width: 712px;
  height: 184px;
  font-size: 22px;
  line-height: 28.47px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 34px;
  padding-right: 25px;
}
.footer {
  height: 90px;
  background-color: #202846;
  font-style: italic;
  color: white;
  font-size: 36px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-top: 21px;
  margin-top: 87px;
}
.button {
  width: 200px;
  height: 60px;
  background-color: #202846;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: absolute;
  left: 90%;
  top: 75%;
}

.button-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
.star {
  position: absolute;
  left: 96%;
  top: 3%;
}
.arrow {
  position: fixed;
  left: 94%;
  bottom: 43%;
}
.content:hover .star > svg > path {
  fill: yellow;
}
