.container {
  box-sizing: border-box;
  min-width: 43.75rem;
  max-width: 56.5rem;
  margin: 0 auto;
  background-color: #e5e5e5;
  padding-left: 2.688rem;
  padding-top: 4rem;
  position: relative;
  margin-bottom: 110px;
  font-family: "Public Sans", sans-serif;
}
h1 {
  font-size: 24px;
  margin-bottom: 4.938rem;
}
.mark {
  color: red;
  margin-right: 5px;
}
h2 {
  margin-top: 1.5rem;
}
.select {
  width: 24.5rem;
  padding: 8px, 12px, 8px, 10px;
  height: 2.5rem;
  border: 1px solid #adadad;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
}
select {
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
}
.number {
  font-size: 16px;
}

.content {
  display: flex;
  box-sizing: border-box;
}
.img {
  background-image: url("./Group.png");
  background-repeat: no-repeat;
  height: 21px;
  width: 100%;
  position: absolute;
  top: 69px;
  left: 359px;
}
.img2 {
  background-image: url("./Group1.png");
  background-repeat: no-repeat;
  height: 21px;
  width: 100%;
  position: absolute;
  top: 69px;
  left: 399px;
}

.column {
  margin-top: 0.6px;
  position: relative;
}
.row-column {
  margin-left: 2rem;
  position: relative;
  box-sizing: border-box;
}

.category-container {
  margin-left: 2rem;
}
.category-container2 {
  margin-left: 1.5rem;
}
.select-text {
  appearance: none;
  width: 24.5rem;
  padding: 8px, 12px, 8px, 10px;
  height: 2.5rem;
  border: 1px solid #adadad;
  border-radius: 4px;
  color: blue;
  padding-left: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  background: url(./Group.png) no-repeat;
  width: 21px;
  height: 21px;
}
input[type="date"] {
  margin-right: 0;
  padding-right: 5px;
}
#type,
#category,
#number,
#number-box,
#date,
#date2,
#date3 {
  padding-left: 10px;
}
#select {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
}
#select-exempt {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select-worklist {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding: 12px 310px 13px 10px;
}
#select-2 {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select-worklist2 {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select-3 {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select4 {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select5,
#select7,
#select9 {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select6,
#select8,
#select11,
#select13 {
  background: url(./Group1.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}

#select10,
#select12 {
  background: url(./Group3.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#select14,
#select15,
#select16,
#select17 {
  background: url(./Group3.png) no-repeat right white;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}

.checkbox-container {
  display: flex;
  margin-top: 57px;
  box-sizing: border-box;
}
.flexInput > div {
  display: flex;
  width: 400px;
  align-items: center;
}
.purged {
  margin: 0;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 7px;
  font-weight: 400;
}
.request {
  margin: 0;
  font-size: 16px;
  margin-left: 8px;
  line-height: 22.4px;
  width: 80%;
  font-weight: 400;
}

#purged {
  width: 24px;
  height: 24px;
}
input[type="number"]::-webkit-inner-spin-button {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 70%;
  left: 365px;
  bottom: 5px;
}
input[type="number"] {
  position: relative;
}
#fee {
  width: 24px;
  height: 24px;
}
#request {
  width: 24px;
  height: 24px;
}
hr {
  margin-right: 45px;
}
.h2 {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.5px;
}
.checkbox-container2 {
  display: flex;
  margin-top: 27px;
  box-sizing: border-box;
  margin-bottom: 27px;
}
.second {
  margin-right: 45px;
  margin-top: 32px;
  margin-bottom: 32px;
}
input[type="search"]::placeholder {
  font-size: 16px;
  width: 200px;
}
input[type="search"] {
  position: relative;
  width: 24.5rem;
  padding: 8px, 12px, 8px, 10px;
  height: 2.5rem;
  border: 1px solid #adadad;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  left: 225px;
}
input[type="search"].select1::placeholder {
  font-size: 16px;
  width: 200px;
  color: blue;
}
.third {
  margin-right: 45px;
  margin-top: 40px;
}
.button {
  padding: 9px 16px;
  color: white;
  background-color: #0050d8;
  border: none;
  margin-top: 16px;
  margin-bottom: 110px;
  margin-left: 756px;
  border-radius: 4px;
  font-weight: 700;
}
