body {
  font-family: "Inika", serif;
}
.header {
  max-height: 101px;
  min-height: 76px;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 13px;
  color: #e8c23e;
  font-family: "M PLUS 1p", sans-serif;
}
.header-span {
  color: #3e45e8;
}
.photo {
  background-image: url("./img/image\ 1.png");
  width: 1440px;
  height: 803px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 195px;
  margin: 0 auto;
  padding-left: 80px;
}
.text {
  background-image: url("./img/flag.png");
  height: 282px;
  background-repeat: no-repeat;
  font-size: 48px;
  color: white;
  width: 70%;
  padding-left: 35px;
  line-height: 73px;
}
.h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 72px;
  margin-bottom: 25px;
}
.line {
  border-bottom: 5px solid #3e45e8;
  width: 402px;
}
.container {
  margin-left: 1514px;
}
.cards {
  display: flex;
  flex-direction: row;
}
.card {
  width: 388.35px;
  height: 481px;
  left: 520px;
  top: 1106px;

  background: #ffffff;
  box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 40px;
  margin-top: 30px;
  box-sizing: border-box;
}
.card1 {
  width: 388.35px;
  height: 481px;
  left: 520px;
  top: 1106px;

  background: #ffffff;
  box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 1514px;
  margin-top: 30px;
  box-sizing: border-box;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: #1e8df2;
  margin: 16px;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #e8c23e;
  margin: 16px;
}
.container2 {
  margin-left: 1864px;
}
.line2 {
  border-bottom: 5px solid #3e45e8;
  width: 402px;
  margin-left: 83px;
}
.image {
  background-image: url("./img/pngwing\ 2.png");
  width: 812px;
  height: 537px;
  left: 294px;
  top: 1786px;
  margin: 0 auto;
  margin-top: 41px;
}
button {
  display: block;
  margin: 41px auto;
  font-size: 64px;
  border: none;
  border-radius: 0px;
  padding: 30px 125px;
  background-color: #2a61f0;
  color: white;
  box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
}
.information {
  width: 1440px;
  height: 320px;
  left: 0px;
  top: 2506px;
  margin: 0 auto;
  background: #2f4a4b;
}
.Ukraine {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-top: 31px;
  color: #e8c23e;
}
.mail,
.tel {
  text-align: center;
  margin-bottom: 21px;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Marcellus SC", serif;
}
a {
  text-decoration: none;
  font-size: 36px;
  color: #a89d9d;
}
.soc-net {
  text-align: center;
  margin-bottom: 27px;
}
